In [132]:
import pandas as pd
import numpy as np

In [11]:
file_path = '../CapStone/ForeignEx/data/'
file_path_us = file_path + 'US'
file_path_eu = file_path + 'EU'
df_us_cpi = pd.read_csv('../CapStone/ForeignEx/data/US/US_CPI_SeriesReport_monthly_2019_1947.csv')
df_us_gpd = pd.read_csv('../CapStone/ForeignEx/data/US/US_GDP_Q_US.csv')
df_us_ir = pd.read_csv('../CapStone/ForeignEx/data/US/US_Month_Treasury_Constant_Maturity_Rate.csv')
df_us_ie = pd.read_csv('../CapStone/ForeignEx/data/US/usa_iexport.tsv', sep='\t', header=None)

In [56]:
df_us_ie_2k5 = df_us_ie[ df_us_ie[0] >= 2005]

In [84]:
df_us_ie_2k5.head()
df_us_jpn_ie = df_us_ie[(df_us_ie[1] == 'jpn') | (df_us_ie[2] == 'jpn')]
# df_us_jpn_ie.head()

In [85]:
df_us_jpn_ie[4] = df_us_jpn_ie[4].fillna(value=0)
df_us_jpn_ie.head()
df_us_jpn_ie[5] = df_us_jpn_ie[5].fillna(value=0)
df_us_jpn_ie.head()

C:\Users\OrsonKong\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\OrsonKong\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          0    1    2      3           4            5
51079  1998  jpn  usa  10111   584310.00  23397947.55
51080  1998  jpn  usa  10119  2064390.17   3281269.00
51081  1998  jpn  usa  10210   436842.08   2565999.03
51082  1998  jpn  usa  10290   632268.00      8938.67
51083  1998  jpn  usa  10310        0.00    351447.43

In [88]:
gby = df_us_jpn_ie.groupby([0,1,2]).sum().reset_index()

In [97]:
df_us_jpn_his = gby[::2].reset_index()

In [98]:
df_us_jpn_his

    index     0    1    2           3             4             5
0       0  1998  jpn  usa  2574562606  1.134330e+11  5.632403e+10
1       2  1999  jpn  usa  2570832676  1.214687e+11  5.577455e+10
2       4  2000  jpn  usa  2684609109  1.429120e+11  6.540910e+10
3       6  2001  jpn  usa  2658169920  1.227793e+11  5.685211e+10
4       8  2002  jpn  usa  2613240762  1.188748e+11  5.166082e+10
5      10  2003  jpn  usa  2602792885  1.137569e+11  5.277195e+10
6      12  2004  jpn  usa  2610369085  1.256610e+11  5.616202e+10
7      14  2005  jpn  usa  2636159605  1.338761e+11  5.814089e+10
8      16  2006  jpn  usa  2629135678  1.439221e+11  6.207442e+10
9      18  2007  jpn  usa  2469834893  1.404683e+11  6.349752e+10
10     20  2008  jpn  usa  2473324768  1.376014e+11  7.133262e+10
11     22  2009  jpn  usa  2456027200  9.379302e+10  5.445651e+10
12     24  2010  jpn  usa  2458441682  1.177821e+11  6.301895e+10
13     26  2011  jpn  usa  2457676016  1.259511e+11  6.945123e+10
14     28  2014  usa  jpn  2442181312  6.753808e+10  1.319245e+11
15     30  2015  usa  jpn  2454401460  6.328616e+10  1.283831e+11
16     32  2016  usa  jpn  2449792327  6.529587e+10  1.295955e+11
17     34  2017  usa  jpn  2386166739  6.856065e+10  1.250441e+11

In [99]:
df_us_ir['year']=df_us_ir['DATE'].apply(lambda x: int(x[:4]))
df_us_ir.info()
df_us_ir.head()
ser = df_us_ir.set_index('year')['VALUE']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4553 entries, 0 to 4552
Data columns (total 3 columns):
DATE     4553 non-null object
VALUE    4553 non-null object
year     4553 non-null int64
dtypes: int64(1), object(2)
memory usage: 106.8+ KB

In [117]:
df_us_ir['year']=df_us_ir['DATE'].apply(lambda x: int(x[:4]))

In [173]:
# df_us_ir['VALUE'].apply(lambda x:float(x))
# df_us_ir.VALUE = df_us_ir.VALUE.astype(float)
# df_us_ir.VALUE.describe()
# df_us_ir['VALUE'] = df_us_ir['VALUE'].astype(float)
# df_us_ir = pd.read_csv('../CapStone/ForeignEx/data/US/US_Month_Treasury_Constant_Maturity_Rate.csv')

df_us_ir = df_us_ir[~(df_us_ir['VALUE'] == '.')]
df_us_ir['VALUE'] = df_us_ir['VALUE'].astype(float)

df_us_ir.groupby('DATE').mean()
df_us_ir['YEAR']=df_us_ir['DATE'].apply(lambda x: int(x[:4]))
df_us_ir_his = df_us_ir.groupby('YEAR').mean()

In [278]:
df_us_cpi = pd.read_csv('../CapStone/ForeignEx/data/US/US_CPI_SeriesReport_monthly_2019_1947.csv')

df_us_cpi = df_us_cpi[10:].reset_index()

In [279]:
df_us_cpi.columns = df_us_cpi.iloc[0]
df_us_cpi = df_us_cpi.drop(0).reset_index()

In [280]:
# df_us_cpi.drop(['0,1], axis=1)
df_us_cpi

,index,10,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1,HALF2
0,1,11,1947,21.48,21.62,22.00,22.00,21.95,22.08,22.23,22.40,22.84,22.91,23.06,23.41,NaN,NaN
1,2,12,1948,23.68,23.67,23.50,23.82,24.01,24.15,24.40,24.43,24.36,24.31,24.16,24.05,NaN,NaN
2,3,13,1949,24.01,23.91,23.91,23.92,23.91,23.92,23.70,23.70,23.75,23.67,23.70,23.61,NaN,NaN
3,4,14,1950,23.51,23.61,23.64,23.65,23.77,23.88,24.07,24.20,24.34,24.50,24.60,24.98,NaN,NaN
4,5,15,1951,25.38,25.83,25.88,25.92,25.99,25.93,25.91,25.86,26.03,26.16,26.32,26.47,NaN,NaN
5,6,16,1952,26.45,26.41,26.39,26.46,26.47,26.53,26.68,26.69,26.63,26.69,26.69,26.71,NaN,NaN
6,7,17,1953,26.64,26.59,26.63,26.69,26.70,26.77,26.79,26.85,26.89,26.95,26.85,26.87,NaN,NaN
7,8,18,1954,26.94,26.99,26.93,26.86,26.93,26.94,26.86,26.85,26.81,26.72,26.78,26.77,NaN,NaN
8,9,19,1955,26.77,26.82,26.79,26.79,26.77,26.71,26.76,26.72,26.85,26.82,26.88,26.87,NaN,NaN
9,10,20,1956,26.83,26.86,26.89,26.93,27.03,27.15,27.29,27.31,27.35,27.51,27.51,27.63,NaN,NaN
10,11,21,1957,27.67,27.80,27.86,27.93,28.00,28.11,28.19,28.28,28.32,28.32,28.41,28.47,NaN,NaN
11,12,22,1958,28.64,28.70,28.87,28.94,28.94,28.91,28.89,28.94,28.91,28.91,28.95,28.97,NaN,NaN
12,13,23,1959,29.01,29.00,28.97,28.98,29.04,29.11,29.15,29.18,29.25,29.35,29.35,29.41,NaN,NaN
13,14,24,1960,29.37,29.41,29.41,29.54,29.57,29.61,29.55,29.61,29.61,29.75,29.78,29.81,NaN,NaN
14,15,25,1961,29.84,29.84,29.84,29.81,29.84,29.84,29.92,29.94,29.98,29.98,29.98,30.01,NaN,NaN
15,16,26,1962,30.04,30.11,30.17,30.21,30.24,30.21,30.22,30.28,30.42,30.38,30.38,30.38,NaN,NaN
16,17,27,1963,30.44,30.48,30.51,30.48,30.51,30.61,30.69,30.75,30.72,30.75,30.78,30.88,NaN,NaN
17,18,28,1964,30.94,30.91,30.94,30.95,30.98,31.01,31.02,31.05,31.08,31.12,31.21,31.25,NaN,NaN
18,19,29,1965,31.28,31.28,31.31,31.38,31.48,31.61,31.58,31.55,31.62,31.65,31.75,31.85,NaN,NaN
19,20,30,1966,31.88,32.08,32.18,32.28,32.35,32.38,32.45,32.65,32.75,32.85,32.88,32.92,NaN,NaN
20,21,31,1967,32.90,33.00,33.00,33.10,33.10,33.30,33.40,33.50,33.60,33.70,33.90,34.00,NaN,NaN
21,22,32,1968,34.10,34.20,34.30,34.40,34.50,34.70,34.90,35.00,35.10,35.30,35.40,35.60,NaN,NaN
22,23,33,1969,35.70,35.80,36.10,36.30,36.40,36.60,36.80,36.90,37.10,37.30,37.50,37.70,NaN,NaN
23,24,34,1970,37.90,38.10,38.30,38.50,38.60,38.80,38.90,39.00,39.20,39.40,39.60,39.80,NaN,NaN
24,25,35,1971,39.90,39.90,40.00,40.10,40.30,40.50,40.60,40.70,40.80,40.90,41.00,41.10,NaN,NaN
25,26,36,1972,41.20,41.40,41.40,41.50,41.60,41.70,41.80,41.90,42.10,42.20,42.40,42.50,NaN,NaN
26,27,37,1973,42.70,43.00,43.40,43.70,43.90,44.20,44.20,45.00,45.20,45.60,45.90,46.30,NaN,NaN
27,28,38,1974,46.80,47.30,47.80,48.10,48.60,49.00,49.30,49.90,50.60,51.00,51.50,51.90,NaN,NaN
28,29,39,1975,52.30,52.60,52.80,53.00,53.10,53.50,54.00,54.20,54.60,54.90,55.30,55.60,NaN,NaN
29,30,40,1976,55.80,55.90,56.00,56.10,56.40,56.70,57.00,57.30,57.60,57.90,58.10,58.40,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,44,54,1990,127.50,128.00,128.60,128.90,129.10,129.90,130.50,131.60,132.50,133.40,133.70,134.20,NaN,NaN
44,45,55,1991,134.70,134.80,134.80,135.10,135.60,136.00,136.20,136.60,137.00,137.20,137.80,138.20,NaN,NaN
45,46,56,1992,138.30,138.60,139.10,139.40,139.70,140.10,140.50,140.80,141.10,141.70,142.10,142.30,NaN,NaN
46,47,57,1993,142.80,143.10,143.30,143.80,144.20,144.30,144.50,144.80,145.00,145.60,146.00,146.30,NaN,NaN
47,48,58,1994,146.30,146.70,147.10,147.20,147.50,147.90,148.40,149.00,149.30,149.40,149.80,150.10,NaN,NaN
48,49,59,1995,150.50,150.90,151.20,151.80,152.10,152.40,152.60,152.90,153.10,153.50,153.70,153.90,NaN,NaN
49,50,60,1996,154.70,155.00,155.50,156.10,156.40,156.70,157.00,157.20,157.70,158.20,158.70,159.10,NaN,NaN
50,51,61,1997,159.40,159.70,159.80,159.90,159.90,160.20,160.40,160.80,161.20,161.50,161.70,161.80,NaN,NaN
51,52,62,1998,162.00,162.00,162.00,162.20,162.60,162.80,163.20,163.40,163.50,163.90,164.10,164.40,NaN,NaN
52,53,63,1999,164.70,164.70,164.80,165.90,166.00,166.00,166.70,167.10,167.80,168.10,168.40,168.80,NaN,NaN
53,54,64,2000,169.30,170.00,171.00,170.90,171.20,172.20,172.70,172.70,173.60,173.90,174.20,174.60,NaN,NaN
54,55,65,2001,175.60,176.00,176.10,176.40,177.30,177.70,177.40,177.40,178.10,177.60,177.50,177.40,NaN,NaN
55,56,66,2002,177.7,178.0,178.5,179.3,179.5,179.6,180.0,180.5,180.8,181.2,181.5,181.8,NaN,NaN
56,57,67,2003,182.6,183.6,183.9,183.2,182.9,183.1,183.7,184.5,185.1,184.9,185.0,185.5,NaN,NaN
57,58,68,2004,186.3,186.7,187.1,187.4,188.2,188.9,189.1,189.2,189.8,190.8,191.7,191.7,NaN,NaN
58,59,69,2005,191.6,192.4,193.1,193.7,193.6,193.7,194.9,196.1,198.8,199.1,198.1,198.1,NaN,NaN
59,60,70,2006,199.3,199.4,199.7,200.7,201.3,201.8,202.9,203.8,202.8,201.9,202.0,203.1,NaN,NaN
60,61,71,2007,203.437,204.226,205.288,205.904,206.755,207.234,207.603,207.667,208.547,209.190,210.834,211.445,NaN,NaN
61,62,72,2008,212.174,212.687,213.448,213.942,215.208,217.463,219.016,218.690,218.877,216.995,213.153,211.398,NaN,NaN
62,63,73,2009,211.933,212.705,212.495,212.709,213.022,214.790,214.726,215.445,215.861,216.509,217.234,217.347,NaN,NaN
63,64,74,2010,217.488,217.281,217.353,217.403,217.290,217.199,217.605,217.923,218.275,219.035,219.590,220.472,NaN,NaN
64,65,75,2011,221.187,221.898,223.046,224.093,224.806,224.806,225.395,226.106,226.597,226.750,227.169,227.223,NaN,NaN
65,66,76,2012,227.842,228.329,228.807,229.187,228.713,228.524,228.590,229.918,231.015,231.638,231.249,231.221,NaN,NaN
66,67,77,2013,231.679,232.937,232.282,231.797,231.893,232.445,232.900,233.456,233.544,233.669,234.100,234.719,NaN,NaN
67,68,78,2014,235.288,235.547,236.028,236.468,236.918,237.231,237.498,237.460,237.477,237.430,236.983,236.252,NaN,NaN
68,69,79,2015,234.718,235.236,236.005,236.156,236.974,237.684,238.053,238.028,237.506,237.781,238.016,237.817,NaN,NaN
69,70,80,2016,237.833,237.469,238.038,238.827,239.464,240.167,240.150,240.602,241.051,241.691,242.029,242.772,NaN,NaN
70,71,81,2017,243.780,243.961,243.749,244.051,243.962,244.182,244.390,245.297,246.418,246.587,247.332,247.901,NaN,NaN
71,72,82,2018,248.884,249.369,249.498,249.956,250.646,251.134,251.597,251.879,252.010,252.794,252.760,252.723,NaN,NaN
72,73,83,2019,252.673,253.113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [281]:
df_us_cpi = df_us_cpi.drop(['index', 10, 'HALF1','HALF2'], axis=1)

In [309]:
list_name = df_us_cpi.columns
list_name

Index(['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec', 'total'],
      dtype='object', name=0)

In [299]:
df_us_cpi[list_name].astype(float)
df_us_cpi['Year']=df_us_cpi['Year'].astype(int)

In [310]:
list_name

Index(['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec', 'total'],
      dtype='object', name=0)

In [311]:
list_name=list_name[1:]

In [312]:
list_name

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec', 'total'],
      dtype='object', name=0)

In [313]:
df_us_cpi['total']=df_us_cpi.loc[:,list_name].sum(axis=1)

In [314]:

df_us_cpi

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,total
0,1947,21.48,21.62,22.00,22.00,21.95,22.08,22.23,22.40,22.84,22.91,23.06,23.41,0.0
1,1948,23.68,23.67,23.50,23.82,24.01,24.15,24.40,24.43,24.36,24.31,24.16,24.05,0.0
2,1949,24.01,23.91,23.91,23.92,23.91,23.92,23.70,23.70,23.75,23.67,23.70,23.61,0.0
3,1950,23.51,23.61,23.64,23.65,23.77,23.88,24.07,24.20,24.34,24.50,24.60,24.98,0.0
4,1951,25.38,25.83,25.88,25.92,25.99,25.93,25.91,25.86,26.03,26.16,26.32,26.47,0.0
5,1952,26.45,26.41,26.39,26.46,26.47,26.53,26.68,26.69,26.63,26.69,26.69,26.71,0.0
6,1953,26.64,26.59,26.63,26.69,26.70,26.77,26.79,26.85,26.89,26.95,26.85,26.87,0.0
7,1954,26.94,26.99,26.93,26.86,26.93,26.94,26.86,26.85,26.81,26.72,26.78,26.77,0.0
8,1955,26.77,26.82,26.79,26.79,26.77,26.71,26.76,26.72,26.85,26.82,26.88,26.87,0.0
9,1956,26.83,26.86,26.89,26.93,27.03,27.15,27.29,27.31,27.35,27.51,27.51,27.63,0.0
10,1957,27.67,27.80,27.86,27.93,28.00,28.11,28.19,28.28,28.32,28.32,28.41,28.47,0.0
11,1958,28.64,28.70,28.87,28.94,28.94,28.91,28.89,28.94,28.91,28.91,28.95,28.97,0.0
12,1959,29.01,29.00,28.97,28.98,29.04,29.11,29.15,29.18,29.25,29.35,29.35,29.41,0.0
13,1960,29.37,29.41,29.41,29.54,29.57,29.61,29.55,29.61,29.61,29.75,29.78,29.81,0.0
14,1961,29.84,29.84,29.84,29.81,29.84,29.84,29.92,29.94,29.98,29.98,29.98,30.01,0.0
15,1962,30.04,30.11,30.17,30.21,30.24,30.21,30.22,30.28,30.42,30.38,30.38,30.38,0.0
16,1963,30.44,30.48,30.51,30.48,30.51,30.61,30.69,30.75,30.72,30.75,30.78,30.88,0.0
17,1964,30.94,30.91,30.94,30.95,30.98,31.01,31.02,31.05,31.08,31.12,31.21,31.25,0.0
18,1965,31.28,31.28,31.31,31.38,31.48,31.61,31.58,31.55,31.62,31.65,31.75,31.85,0.0
19,1966,31.88,32.08,32.18,32.28,32.35,32.38,32.45,32.65,32.75,32.85,32.88,32.92,0.0
20,1967,32.90,33.00,33.00,33.10,33.10,33.30,33.40,33.50,33.60,33.70,33.90,34.00,0.0
21,1968,34.10,34.20,34.30,34.40,34.50,34.70,34.90,35.00,35.10,35.30,35.40,35.60,0.0
22,1969,35.70,35.80,36.10,36.30,36.40,36.60,36.80,36.90,37.10,37.30,37.50,37.70,0.0
23,1970,37.90,38.10,38.30,38.50,38.60,38.80,38.90,39.00,39.20,39.40,39.60,39.80,0.0
24,1971,39.90,39.90,40.00,40.10,40.30,40.50,40.60,40.70,40.80,40.90,41.00,41.10,0.0
25,1972,41.20,41.40,41.40,41.50,41.60,41.70,41.80,41.90,42.10,42.20,42.40,42.50,0.0
26,1973,42.70,43.00,43.40,43.70,43.90,44.20,44.20,45.00,45.20,45.60,45.90,46.30,0.0
27,1974,46.80,47.30,47.80,48.10,48.60,49.00,49.30,49.90,50.60,51.00,51.50,51.90,0.0
28,1975,52.30,52.60,52.80,53.00,53.10,53.50,54.00,54.20,54.60,54.90,55.30,55.60,0.0
29,1976,55.80,55.90,56.00,56.10,56.40,56.70,57.00,57.30,57.60,57.90,58.10,58.40,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,1990,127.50,128.00,128.60,128.90,129.10,129.90,130.50,131.60,132.50,133.40,133.70,134.20,0.0
44,1991,134.70,134.80,134.80,135.10,135.60,136.00,136.20,136.60,137.00,137.20,137.80,138.20,0.0
45,1992,138.30,138.60,139.10,139.40,139.70,140.10,140.50,140.80,141.10,141.70,142.10,142.30,0.0
46,1993,142.80,143.10,143.30,143.80,144.20,144.30,144.50,144.80,145.00,145.60,146.00,146.30,0.0
47,1994,146.30,146.70,147.10,147.20,147.50,147.90,148.40,149.00,149.30,149.40,149.80,150.10,0.0
48,1995,150.50,150.90,151.20,151.80,152.10,152.40,152.60,152.90,153.10,153.50,153.70,153.90,0.0
49,1996,154.70,155.00,155.50,156.10,156.40,156.70,157.00,157.20,157.70,158.20,158.70,159.10,0.0
50,1997,159.40,159.70,159.80,159.90,159.90,160.20,160.40,160.80,161.20,161.50,161.70,161.80,0.0
51,1998,162.00,162.00,162.00,162.20,162.60,162.80,163.20,163.40,163.50,163.90,164.10,164.40,0.0
52,1999,164.70,164.70,164.80,165.90,166.00,166.00,166.70,167.10,167.80,168.10,168.40,168.80,0.0
53,2000,169.30,170.00,171.00,170.90,171.20,172.20,172.70,172.70,173.60,173.90,174.20,174.60,0.0
54,2001,175.60,176.00,176.10,176.40,177.30,177.70,177.40,177.40,178.10,177.60,177.50,177.40,0.0
55,2002,177.7,178.0,178.5,179.3,179.5,179.6,180.0,180.5,180.8,181.2,181.5,181.8,0.0
56,2003,182.6,183.6,183.9,183.2,182.9,183.1,183.7,184.5,185.1,184.9,185.0,185.5,0.0
57,2004,186.3,186.7,187.1,187.4,188.2,188.9,189.1,189.2,189.8,190.8,191.7,191.7,0.0
58,2005,191.6,192.4,193.1,193.7,193.6,193.7,194.9,196.1,198.8,199.1,198.1,198.1,0.0
59,2006,199.3,199.4,199.7,200.7,201.3,201.8,202.9,203.8,202.8,201.9,202.0,203.1,0.0
60,2007,203.437,204.226,205.288,205.904,206.755,207.234,207.603,207.667,208.547,209.190,210.834,211.445,0.0
61,2008,212.174,212.687,213.448,213.942,215.208,217.463,219.016,218.690,218.877,216.995,213.153,211.398,0.0
62,2009,211.933,212.705,212.495,212.709,213.022,214.790,214.726,215.445,215.861,216.509,217.234,217.347,0.0
63,2010,217.488,217.281,217.353,217.403,217.290,217.199,217.605,217.923,218.275,219.035,219.590,220.472,0.0
64,2011,221.187,221.898,223.046,224.093,224.806,224.806,225.395,226.106,226.597,226.750,227.169,227.223,0.0
65,2012,227.842,228.329,228.807,229.187,228.713,228.524,228.590,229.918,231.015,231.638,231.249,231.221,0.0
66,2013,231.679,232.937,232.282,231.797,231.893,232.445,232.900,233.456,233.544,233.669,234.100,234.719,0.0
67,2014,235.288,235.547,236.028,236.468,236.918,237.231,237.498,237.460,237.477,237.430,236.983,236.252,0.0
68,2015,234.718,235.236,236.005,236.156,236.974,237.684,238.053,238.028,237.506,237.781,238.016,237.817,0.0
69,2016,237.833,237.469,238.038,238.827,239.464,240.167,240.150,240.602,241.051,241.691,242.029,242.772,0.0
70,2017,243.780,243.961,243.749,244.051,243.962,244.182,244.390,245.297,246.418,246.587,247.332,247.901,0.0
71,2018,248.884,249.369,249.498,249.956,250.646,251.134,251.597,251.879,252.010,252.794,252.760,252.723,0.0
72,2019,252.673,253.113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [5]:
df_us_import = df_us_ie_2k5.loc[df_us_ie_2k5[4].isna()]
df_us_export = df_us_ie_2k5.loc[df_us_ie_2k5[5].isna()]
df_us_both = df_us_ie_2k5.loc[~df_us_ie_2k5[4].isna() & ~df_us_ie_2k5[5].isna()]

In [29]:
gb = df_us_ie.groupby([0,1,2]).sum()
df_by = pd.DataFrame(gb)

# df_us_ie=df_us_ie.drop([3], axis=1)
df_by.columns

Int64Index([3, 4, 5], dtype='int64')

In [33]:
df_by.head()
df_us_ir.head()

         DATE VALUE
0  2001-07-31  3.67
1  2001-08-01  3.65
2  2001-08-02  3.65
3  2001-08-03  3.63
4  2001-08-06  3.62

In [41]:
df_us_ir['year']=df_us_ir['DATE'].apply(lambda x: int(x[:4]))
df_us_ir.info()
df_us_ir.head()
ser = df_us_ir.set_index('year')['VALUE']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4553 entries, 0 to 4552
Data columns (total 3 columns):
DATE     4553 non-null object
VALUE    4553 non-null object
year     4553 non-null int64
dtypes: int64(1), object(2)
memory usage: 106.8+ KB

In [43]:
df_us_import['ir']=ser

ValueError: cannot reindex from a duplicate axis

In [54]:
dir

In [21]:
df_by.head()
df_us_yearly = df_by.drop(3, axis=1)
df_us_yearly[]

0     1    2
1998  abw  usa    4.347535e+08
      afg  usa    1.171142e+07
      ago  usa    2.130024e+09
      aia  usa    4.168978e+05
      alb  usa    1.520175e+07
      and  usa    1.112868e+05
      ant  usa    3.956132e+08
      are  usa    5.366266e+08
      arg  usa    2.279315e+09
      arm  usa    1.119336e+07
      atf  usa    8.691959e+05
      atg  usa    8.067535e+05
      aus  usa    5.039213e+09
      aut  usa    2.464370e+09
      aze  usa    2.093998e+06
      bdi  usa    7.473559e+06
      ben  usa    3.132474e+06
      bfa  usa    8.546008e+04
      bgd  usa    1.925556e+09
      bgr  usa    1.863924e+08
      bhr  usa    1.519695e+08
      bhs  usa    2.385032e+08
      bih  usa    4.577565e+06
      blr  usa    1.305910e+08
      blx  usa    6.692466e+09
      blz  usa    7.940652e+07
      bmu  usa    2.147413e+06
      bol  usa    2.523581e+08
      bra  usa    1.037290e+10
      brb  usa    1.248111e+07
                      ...
2017  usa  tza    1.966404e+08
           uga    1.145996e+08
           ukr    2.329893e+09
           ury    9.564344e+08
           uzb    4.332531e+07
           vct    1.251135e+08
           ven    3.464164e+09
           vgb    2.038972e+08
           vnm    4.982565e+09
           vut    3.086058e+06
           wlf    1.370270e+05
           wsm    4.673340e+07
           xxb    1.117214e+10
           yem    1.921782e+08
           zaf    5.449711e+09
           zmb    1.088141e+08
           zwe    2.541907e+07
      uzb  usa    6.388175e+06
      vct  usa    5.224496e+06
      ven  usa    1.164483e+10
      vgb  usa    3.117231e+06
      vnm  usa    4.611073e+10
      vut  usa    5.354408e+06
      wlf  usa    2.259400e+04
      wsm  usa    5.358475e+06
      xxb  usa    3.730489e+10
      yem  usa    9.432389e+06
      zaf  usa    8.023121e+09
      zmb  usa    2.517072e+07
      zwe  usa    4.523361e+07
Name: 4, Length: 7426, dtype: float64

In [56]:
df_us_ie[df_us_ie[3]==20130]

             0    1    2      3             4             5
0         1998  ago  usa  20130           NaN  1.600000e+04
1032      1998  civ  usa  20130           NaN  3.206100e+04
2475      1998  dza  usa  20130           NaN  1.064000e+03
4076      1998  egy  usa  20130           NaN  1.398800e+05
7877      1998  gin  usa  20130           NaN  1.606176e+04
16296     1998  syc  usa  20130           NaN  1.201140e+03
23718     1998  are  usa  20130           NaN  9.020300e+04
27907     1998  chn  usa  20130           NaN  1.659040e+05
34766     1998  hkg  usa  20130           NaN  3.385472e+06
38545     1998  idn  usa  20130           NaN  1.425110e+03
42349     1998  ind  usa  20130  4.359400e+04           NaN
46593     1998  isr  usa  20130           NaN  1.475910e+05
49479     1998  jor  usa  20130           NaN  1.547700e+04
51094     1998  jpn  usa  20130  9.541405e+05  7.759332e+08
57430     1998  kor  usa  20130           NaN  8.935418e+05
61834     1998  kwt  usa  20130           NaN  3.772010e+05
63259     1998  lbn  usa  20130           NaN  2.771913e+05
74480     1998  phl  usa  20130           NaN  1.075240e+05
77135     1998  qat  usa  20130           NaN  2.959500e+04
77955     1998  sau  usa  20130           NaN  1.488430e+05
80267     1998  sgp  usa  20130           NaN  8.275080e+05
84485     1998  tha  usa  20130           NaN  1.141000e+05
87358     1998  tur  usa  20130           NaN  3.757400e+04
91175     1998  vnm  usa  20130           NaN  3.160200e+04
92206     1998  xxb  usa  20130           NaN  4.758108e+06
96537     1998  aut  usa  20130           NaN  1.664918e+06
103008    1998  blx  usa  20130           NaN  1.868948e+06
107144    1998  che  usa  20130           NaN  1.922366e+07
114079    1998  deu  usa  20130  1.180000e+05  4.408937e+06
118727    1998  dnk  usa  20130           NaN  6.472483e+04
...        ...  ...  ...    ...           ...           ...
12251412  2017  usa  mex  20130  6.018705e+08  5.948678e+08
12256080  2017  usa  nic  20130  5.708204e+04  3.088244e+07
12259007  2017  usa  pan  20130  1.885020e+06           NaN
12261488  2017  usa  slv  20130  5.816720e+06           NaN
12264702  2017  usa  tca  20130  3.300890e+05           NaN
12265898  2017  usa  tto  20130  3.137710e+05           NaN
12268248  2017  usa  vct  20130  7.485337e+04           NaN
12270222  2017  usa  vgb  20130  9.028090e+05           NaN
12271462  2017  usa  aus  20130           NaN  5.069064e+08
12278232  2017  usa  nzl  20130  1.364460e+05  2.559683e+07
12290801  2017  usa  bra  20130  2.803970e+05  9.220448e+05
12294474  2017  usa  chl  20130  4.151995e+07  3.410565e+05
12298071  2017  usa  col  20130  2.790701e+06           NaN
12305112  2017  usa  guy  20130  3.641610e+03           NaN
12307650  2017  usa  per  20130  4.351180e+06           NaN
12311142  2017  usa  pry  20130  7.560000e+03           NaN
12313111  2017  usa  sur  20130  2.689800e+04           NaN
12315206  2017  usa  ury  20130           NaN  2.663538e+07
12319523  2017  vct  usa  20130           NaN  7.485337e+04
12321497  2017  vgb  usa  20130           NaN  9.028090e+05
12322737  2017  aus  usa  20130  5.069064e+08           NaN
12329507  2017  nzl  usa  20130  2.559683e+07  1.364460e+05
12342076  2017  bra  usa  20130  9.220448e+05  2.803970e+05
12345749  2017  chl  usa  20130  3.410565e+05  4.151995e+07
12349346  2017  col  usa  20130           NaN  2.790701e+06
12356387  2017  guy  usa  20130           NaN  3.641610e+03
12358925  2017  per  usa  20130           NaN  4.351180e+06
12362417  2017  pry  usa  20130           NaN  7.560000e+03
12364386  2017  sur  usa  20130           NaN  2.689800e+04
12366481  2017  ury  usa  20130  2.663538e+07           NaN

[2732 rows x 6 columns]

In [4]:
df_us_import = df_us_ie.loc[df_us_ie[4].isna()]
df_us_export = df_us_ie.loc[df_us_ie[5].isna()]
# df_us_import = df_us_import.drop([4], axis=1)
# df_us_export = df_us_export.drop([5], axis=1)

In [5]:
df_us_import = df_us_ie.loc[df_us_ie[4].isna()]
df_us_export = df_us_ie.loc[df_us_ie[5].isna()]
df_us_both = df_us_ie.loc[~df_us_ie[4].isna() & ~df_us_ie[5].isna()]

In [52]:
df_us_import.count()

0    4103939
1    4103939
2    4103939
3    4103939
4          0
5    4103939
dtype: int64

In [53]:
df_us_export.count()

0    4017241
1    4017241
2    4017241
3    4017241
4    4017241
5          0
dtype: int64

In [54]:
df_us_both.count()

0    4249614
1    4249614
2    4249614
3    4249614
4    4249614
5    4249614
dtype: int64

In [73]:
new_df=df_us_import.merge(df_us_export, on=[0], how='inner' )

MemoryError:

In [ ]:
# new_df=df_us_import.join(df_us_export, on=[0,1,2,3])
new_df=pd.concat([df_us_import, df_us_export])
new_df

In [20]:
gb = df_us_ie.groupby([0,1,2]).sum()

In [33]:
df_us_ie_sum = pd.DataFrame(new_df_us_ie)
df_us_ie_sum.drop([3], axis=1)

                         4             5
0    1   2
1998 abw usa  4.347535e+08  2.448266e+08
     afg usa  1.171142e+07  4.037272e+06
     ago usa  2.130024e+09  1.686776e+08
     aia usa  4.168978e+05  9.580838e+06
     alb usa  1.520175e+07  1.844270e+07
     and usa  1.112868e+05  3.270806e+07
     ant usa  3.956132e+08  7.346264e+08
     are usa  5.366266e+08  1.599038e+09
     arg usa  2.279315e+09  6.212280e+09
     arm usa  1.119336e+07  3.044603e+07
     atf usa  8.691959e+05  5.484640e+05
     atg usa  8.067535e+05  5.292213e+07
     aus usa  5.039213e+09  9.778649e+09
     aut usa  2.464370e+09  3.082170e+09
     aze usa  2.093998e+06  9.132723e+07
     bdi usa  7.473559e+06  3.583323e+06
     ben usa  3.132474e+06  5.997634e+07
     bfa usa  8.546008e+04  1.296847e+07
     bgd usa  1.925556e+09  2.417591e+08
     bgr usa  1.863924e+08  1.948520e+08
     bhr usa  1.519695e+08  1.451327e+08
     bhs usa  2.385032e+08  9.996376e+08
     bih usa  4.577565e+06  3.056716e+07
     blr usa  1.305910e+08  1.192061e+08
     blx usa  6.692466e+09  1.173211e+10
     blz usa  7.940652e+07  1.563471e+08
     bmu usa  2.147413e+06  2.672270e+08
     bol usa  2.523581e+08  5.403535e+08
     bra usa  1.037290e+10  1.458697e+10
     brb usa  1.248111e+07  1.727801e+08
...                    ...           ...
2017 usa tza  1.966404e+08  1.274681e+08
         uga  1.145996e+08  6.907687e+07
         ukr  2.329893e+09  9.141624e+08
         ury  9.564344e+08  4.728028e+08
         uzb  4.332531e+07  6.388175e+06
         vct  1.251135e+08  5.224496e+06
         ven  3.464164e+09  1.164483e+10
         vgb  2.038972e+08  3.117231e+06
         vnm  4.982565e+09  4.611073e+10
         vut  3.086058e+06  5.354408e+06
         wlf  1.370270e+05  2.259400e+04
         wsm  4.673340e+07  5.358475e+06
         xxb  1.117214e+10  3.730489e+10
         yem  1.921782e+08  9.432389e+06
         zaf  5.449711e+09  8.023121e+09
         zmb  1.088141e+08  2.517072e+07
         zwe  2.541907e+07  4.523361e+07
     uzb usa  6.388175e+06  4.332531e+07
     vct usa  5.224496e+06  1.251135e+08
     ven usa  1.164483e+10  3.464164e+09
     vgb usa  3.117231e+06  2.038972e+08
     vnm usa  4.611073e+10  4.982565e+09
     vut usa  5.354408e+06  3.086058e+06
     wlf usa  2.259400e+04  1.370270e+05
     wsm usa  5.358475e+06  4.673340e+07
     xxb usa  3.730489e+10  1.117214e+10
     yem usa  9.432389e+06  1.921782e+08
     zaf usa  8.023121e+09  5.449711e+09
     zmb usa  2.517072e+07  1.088141e+08
     zwe usa  4.523361e+07  2.541907e+07

[7426 rows x 2 columns]

In [23]:
df_us_ie_sum.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 7426 entries, (1998, abw, usa) to (2017, zwe, usa)
Data columns (total 3 columns):
3    7426 non-null int64
4    7426 non-null float64
5    7426 non-null float64
dtypes: float64(2), int64(1)
memory usage: 214.0+ KB

In [ ]:
df_us_ie.